<!DOCTYPE html>
<%="Hello, stranger! My name is Jellyblub, and I'm desperate for help! The ocean has become very polluted. Can you clean up the trash to save my turtle friend?"%>
<img src= "https://drive.google.com/open?id=1NXQnEPY8yn7shOWh5-j6wGoPQiXrK5-X">

<form method="POST" action="/">
  <input type="submit" value="Play">
</form>




